.page{
	background-color: #ADF0D1;
	height: 100%;
	width: 100%;
	position: fixed;
	font-family: "Josefin Sans";
	font-style: italic;
	font-weight: normal;
}

.gmbr{
	float: right;
	width: 48%;
	height: auto;
}

.isi{
	font-size: 250%;
	text-align: left;
}

hr{
	border-width: 7px;
	border-color: black;
}

.gmbr2{
	float: left;
	margin-top: 0%;
	width: 40%;
	height: auto;
}

.gmbr3{
	position: fixed;
	width: 5%;
	height: auto;
	bottom: 0%;
}

.gmbr3:hover{
	transform: scale(1.5);
}

.name{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	height: 40%;
}

.judul{
	font-weight: bold;
	font-size: 460%;
}

.profil{
	margin-top: 2%;
	font-size: 400%;
	text-align: center;
}